<nav class="navbar py-3" style="background-color: transparent;">
  <form class="container-fluid justify-content-start">
    <span class="navbar-text mr-2" style="color: white; font-size: 24px; padding-right: 10px;">
      <img src="/assets/hospitalisation.png" alt="Patient Icon" style="width: 36px; height: 36px; vertical-align: middle; margin-bottom: 4px;"> Patient
    </span>
    <button class="btn btn-outline-success me-2" type="button" style="color: white" routerLink="/choosedoctor">Choose A Doctor</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" style="color: white" routerLink="/viewappointments">View Appointments</button>
  </form>
</nav>

