<nav class="navbar py-3" style="background-color: transparent;">
  <form class="container-fluid justify-content-start">
    <span class="navbar-text mr-2" style="color: white; font-size: 18px; padding-right: 10px;">
      <img src="/assets/doctor.png" alt="Doctor Icon" style="width: 24px; height: 24px; vertical-align: middle; margin-bottom: 4px;"> Doctor
    </span>
    <button class="btn btn-outline-success me-2" type="button" style="color: white" routerLink="/appointment">Appointment</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" style="color: white" routerLink="/messages">Messages</button>
  </form>
</nav>
